# Button constructor
public net.minecraft.client.gui.components.Button <init>(IIIILnet/minecraft/network/chat/Component;Lnet/minecraft/client/gui/components/Button$OnPress;Lnet/minecraft/client/gui/components/Button$CreateNarration;)V

# Mob goalSelector
public net.minecraft.world.entity.Mob goalSelector

# JigsawPlacement$Placer class
public net.minecraft.world.level.levelgen.structure.pools.JigsawPlacement$Placer

# ProcessorLists EMPTY
public net.minecraft.data.worldgen.ProcessorLists EMPTY

# BlockEntityType constructor and Supplier class
public net.minecraft.world.level.block.entity.BlockEntityType <init>(Lnet/minecraft/world/level/block/entity/BlockEntityType$BlockEntitySupplier;Ljava/util/Set;)V
public net.minecraft.world.level.block.entity.BlockEntityType$BlockEntitySupplier

# SensorType constructor
public net.minecraft.world.entity.ai.sensing.SensorType <init>(Ljava/util/function/Supplier;)V

# StructureTemplatePool fields
public net.minecraft.world.level.levelgen.structure.pools.StructureTemplatePool templates
public-f net.minecraft.world.level.levelgen.structure.pools.StructureTemplatePool rawTemplates